audio { 
    margin: 15px 0px 15px 0px;
    filter: drop-shadow(5px 10px 8px #00000070);  
    width:100%;
}

.podcast_image{
    max-width:100%;
    border-radius: 5px;
    display: block;
    margin:auto;
    margin-bottom:10px;
 }

 .podcast_header{
    padding:20px 0px 5px 0px;
 }

 .song-header{
     text-align:right;
 }