audio { 
    margin: 15px 0px 15px 0px;
    filter: drop-shadow(5px 10px 8px #00000070);  
    width:100%;
}

.podcast_image{
    max-width:75%;
    padding:10px;
    display: block;
    margin:auto;
    margin-bottom:10px;
 }